@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}
body{
    background: #ffff;
    color: #2e2c35;
    height: 100%;
}
#root{
    overflow:auto;
    height: 100%;
}
nav,footer{
    flex-shrink: 0;
}
main{
    flex-grow: 1;
}
.swiper-pagination-bullet-active{
    background: #0f172a !important;
}
.swiper-pagination-bullet{
    background: #2e2c35 !important;
}
.heroImage{
    border-radius: 55px 0px 0px 55px;
}
.swiper-button-prev,
.swiper-button-next{
    border: 1px solid #eef2f2;
    border-radius: 50%;
    width: 2rem !important;
    height: 2rem !important;
    background: #0f172a;
}
.swiper-button-prev::after{
    font-size: 15px !important;
    font-weight: bold;
    color: #eef2f2;
    padding-top: 1.7px;
    padding-right: 3px;
}
.swiper-button-next::after{
    font-size: 15px !important;
    font-weight: bold;
    color: #eef2f2;
    padding-top: 1.7px;
    padding-left: 3px;
}

@media (max-width:550px) {
    .heroImage{
        border-radius: 20px 0px 0px 20px;
        height: 60% !important;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        padding-top: 0px;
    }
}
.chooseuscss{
    font-family: 'Trochut', cursive;
}
@media (min-width:1024px) {
    .lastimg{
        height: 200px !important;
    }
    .heighta{
        height: 100vh;
    }
}
@media (min-width:600) {
    .heighta{
        height: 89vh !important;
    }
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(163, 142, 255);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }